main
    width: 100%
.banner
  width: 100%
  height: 100vh
  background: #1D3C51
  display: flex
  justify-content: space-between
  align-items: center
  padding-left: 40px

  .apply
    max-width: 40% 
    padding-left: 5%
    display: flex
    flex-direction: column
    justify-content: center
    gap: 15px

    h1
      color: #fff
      font-size: 45px
      font-weight: 700
      line-height: 1.2
      margin-bottom: 10px

      span
        color: #66D6EA
        font-size: 64px 
        font-weight: 900

    h2
      color: #fff
      font-size: 32px
      font-weight: 500
      margin-bottom: 15px

    p
      color: #fff
      font-size: 18px
      line-height: 1.5
      margin-bottom: 20px

    button
      background: #66D6EA
      color: #000
      font-size: 16px
      font-weight: 800
      width: 200px
      height: 50px
      border: none
      border-top-left-radius: 60px
      border-bottom-right-radius: 60px
      cursor: pointer
      transition: background-color 0.3s ease

      &:hover
        background-color: #4ABFD6

  figure
    max-width: 60% 
    height: 100%
    display: flex
    align-items: center
    justify-content: flex-end

      
.services 
    width: 100%
    height: 100vh
    background: #1D3D52
    display: flex
    align-items: center
    justify-content: center


.gallery 
    display: flex
    align-items: center
    justify-content: center


.img-box 
    width: 170px
    height: 700px
    margin: 12px
    border-radius: 50px
    background: url("../../assets/img/authentic-small-youthful-marketing-agency.jpg")
    background-size: cover
    background-position: center
    position: relative
    transition: width 0.5s


.img-box:nth-child(2)
    background: url("../../assets/img/working-together-young-cheerful-afro-american-woman-using-laptop-discussing-something-with.jpg")
    background-size: cover
    background-position: center

.img-box:nth-child(3)
    background: url("../../assets/img/team-working-together-project.jpg")
    background-size: cover
    background-position: center


.img-box:nth-child(4)
    background: url("../../assets/img/tablet-people-portrait-coworking-project-tech-office-company-as-team-group-diversity-collaboration-corporate-digital-agency-deadline-development-as-colleagues.jpg")
    background-size: cover
    background-position: center


.img-box h3 
    color: #fff
    position: absolute
    bottom: 0
    left: 33px
    opacity: 0
    transition: bottom 0.5s, opacity 0.5s
    -webkit-transition: bottom 0.5s, opacity 0.5s
    -moz-transition: bottom 0.5s, opacity 0.5s
    -ms-transition: bottom 0.5s, opacity 0.5s
    -o-transition: bottom 0.5s, opacity 0.5s
    font-size: 24px
    span
        color: #66d6ea

.img-box p
    color: #fff
    position: absolute
    bottom: 0
    left: 33px
    width: 250px
    height: 30px
    opacity: 0
    transition: bottom 0.5s, opacity 0.5s
    -webkit-transition: bottom 0.5s, opacity 0.5s
    -moz-transition: bottom 0.5s, opacity 0.5s
    -ms-transition: bottom 0.5s, opacity 0.5s
    -o-transition: bottom 0.5s, opacity 0.5s
    text-overflow: ellipsis
    overflow: hidden
    display: -webkit-box    
    -webkit-box-orient: vertical
    -webkit-line-clamp: 2 

.img-box button
    color: #000
    background: #66d6ea
    position: absolute
    bottom: 0
    left: 33px
    width: 95px
    height: 30px
    opacity: 0
    transition: bottom 0.5s, opacity 0.5s
    -webkit-transition: bottom 0.5s, opacity 0.5s
    -moz-transition: bottom 0.5s, opacity 0.5s
    -ms-transition: bottom 0.5s, opacity 0.5s
    -o-transition: bottom 0.5s, opacity 0.5s
    font-weight: 700


.img-box:hover 
    width: 500px
    cursor: pointer



.img-box:hover h3
    opacity: 1
    bottom: 100px

.img-box:hover p
    opacity: 1
    bottom: 70px

.img-box:hover button
    opacity: 1
    bottom: 30px



.recruitment-info
  background-color: #002e4f  
  color: #ffffff
 

  .info-cards
    display: flex
    justify-content: center
    gap: 2px
    margin-bottom: 30px

    .card
      display: flex
      flex-direction: column
      align-items: center
      background-color: black
      width: 100%
      height: 280px
      text-align: center
      padding: 15px
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)

      img
        width: 90px
        height: 110px
        margin-bottom: 10px

      h3
        font-size: 36px
        color: #00cfff
        margin-bottom: 5px

      p
        font-size: 32px
        color: #ffffff

  .main-content
    display: flex
    align-items: center
    justify-content: space-between
    gap: 20px

    .text-section
      flex: 1
      text-align: center
      width: 35%
      margin-left: 110px

      h2
        font-size: 32px
        color: #00cfff
        margin-bottom: 20px

      h1
        font-size: 42px
        font-weight: 700
        line-height: 1.5
        word-break: break-word

        span
          color: #00cfff

    .image-section
      flex: 2.5
      width: 70%
      margin: 0 
      padding: 0 
      img
        width: 100%
        max-width: 1000px
        border-radius: 8px
        object-fit: cover 
        display: block
        margin: 0 
        padding: 0
        float: right

/* Responsividade */
@media (max-width: 1024px)
  .info-cards
    flex-wrap: wrap
    justify-content: center
    gap: 20px

    .card
      width: 48% // Dois cards por linha
      height: auto

  .main-content
    flex-direction: column
    gap: 40px

    .text-section
      width: 100%
      margin: 0 auto
      text-align: center

      h2
        font-size: 36px // Reduz o tamanho do subtítulo
        margin-bottom: 15px

      h1
        font-size: 48px // Reduz o tamanho do título
        line-height: 1.4

    .image-section img
      max-width: 100%
      margin: 0 auto

@media (max-width: 768px)
  .info-cards
    .card
      width: 100% // Um card por linha

  .main-content
    flex-direction: column
    gap: 20px
    text-align: center

    .text-section
      text-align: center
      width: 100%

      h2
        font-size: 28px // Ainda menor para telas pequenas
        margin-bottom: 10px

      h1
        font-size: 32px // Ajusta o título para telas pequenas
        line-height: 1.3
        margin-bottom: 10px

      p
        font-size: 18px // Reduz tamanho do parágrafo para telas pequenas

    .image-section img
      max-width: 100%
      margin: 0 auto


/* Nova Seção de Texto com Scroll Vertical */
.scrolling-section-vertical
  background-color: #002e4f
  color: #ffffff
  overflow: hidden
  height: 750px // Altura ajustada para ser semelhante às outras seções
  position: relative
  display: flex
  flex-direction: column
  justify-content: center
  gap: 30px // Espaçamento menor entre os textos

  .scrolling-item
    position: relative
    width: 100%
    max-width: 600px
    margin: 0 auto
    text-align: left
    animation-duration: 18s
    animation-iteration-count: infinite
    animation-timing-function: linear

    .text-with-bar
      position: relative
      margin-bottom: 10px

      .white-bar
        position: absolute
        left: 0
        top: 50%
        transform: translateY(-50%)
        width: 100px
        height: 10px
        background-color: #ffffff
        z-index: 1

      h2
        position: relative
        margin: 0 0 0 120px // Espaço para a faixa branca
        font-size: 38px // Aumentado para destacar o título
        font-weight: bold
        color: #ffffff
        z-index: 3

    p
      font-size: 22px // Aumentado para dar mais destaque
      line-height: 1.7
      color: #ffffff
      margin: 10px 0

  // Animações específicas para cada texto
  .mission
    animation-name: scroll-right-to-left

  .vision
    animation-name: scroll-left-to-right

  .values
    animation-name: scroll-right-to-left-2

// Animação: direita para esquerda
@keyframes scroll-right-to-left
  0%
    transform: translateX(100%)
  100%
    transform: translateX(-100%)

// Animação: esquerda para direita
@keyframes scroll-left-to-right
  0%
    transform: translateX(-100%)
  100%
    transform: translateX(100%)

// Animação alternativa para o terceiro item
@keyframes scroll-right-to-left-2
  0%
    transform: translateX(120%)
  100%
    transform: translateX(-120%)


.business-section
  background-color: #002e4f
  color: #ffffff
  padding: 40px 5% 
  display: flex
  justify-content: center
  align-items: center
  height: 100vh 

  .business-content
    display: flex
    align-items: center
    justify-content: space-between
    max-width: 1200px
    width: 100%

    .image-container
      flex: 1
      display: flex
      justify-content: center
      align-items: center

      img
        max-width: 100%
        height: auto
        object-fit: cover

    .text-container
      flex: 1
      text-align: left
      padding-left: 100px 

      h1
        font-size: 56px 
        font-weight: 700
        line-height: 1.2
        color: #ffffff

        span
          font-size: 64px 
          font-weight: 800
          color: transparent
          -webkit-text-stroke: 1px #ffffff 
          text-transform: uppercase

      p
        font-size: 20px 
        line-height: 1.8
        margin: 20px 0

      button
        background-color: #00cfff
        color: #000000
        padding: 12px 24px 
        border: none
        border-radius: 5px
        font-weight: 700
        cursor: pointer
        transition: all 0.3s ease

        &:hover
          background-color: #008fbb


@media (max-width: 1024px)
  .business-content
    flex-direction: column
    text-align: center

    .image-container,
    .text-container
      flex: none
      width: 100%

    .text-container
      padding-left: 0
      margin-top: 20px 

    h1
      font-size: 40px 

    span
      font-size: 48px

    p
      font-size: 18px 

    button
      padding: 10px 20px

@media (max-width: 768px)
  .business-section
    padding: 30px 5%

    h1
      font-size: 32px

    span
      font-size: 36px

    p
      font-size: 16px


.franchise-section
  width: 100%

  .franchise-banner
    background: url('../src/assets/img/imagem04.png') no-repeat center
    background-size: cover
    color: #002e4f
    padding: 50px 5%
    text-align: left
    display: flex
    flex-direction: column
    justify-content: center
    height: 300px

    .banner-text
      max-width: 500px

      h1
        font-size: 48px
        font-weight: 700
        margin-bottom: 10px

      p
        font-size: 20px
        margin-bottom: 20px
        margin-left:20%

      button
        background-color: #002e4f
        color: #ffffff
        padding: 10px 20px
        border: none
        border-radius: 5px
        font-size: 16px
        cursor: pointer
        transition: background-color 0.3s ease
        margin-left: 17%

        &:hover
          background-color: #001f3b

  .success-stories
    background-color: #002e4f
    color: #ffffff
    padding: 50px 5%

    h2
      text-align: center
      font-size: 36px
      margin-bottom: 30px
   
      font-weight: 700

    .carousel
      display: flex
      align-items: center
      justify-content: center
      position: relative

      .arrow
        background: none
        border: none
        color: #00cfff
        font-size: 36px
        cursor: pointer
        margin: 0 10px

        &:hover
          color: #ffffff

      .testimonials
        display: flex
        gap: 30px
        overflow-x: auto
        scroll-snap-type: x mandatory

        .testimonial
          display: flex
          align-items: center
          background-color: transparent
          padding: 10px
          width: 550px
          scroll-snap-align: center

          .image-container
            flex: none
            img
              width: 125px
              height: 125px
              border-radius: 100% 
              object-fit: cover
              margin-right: 20px 
              box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) 

          .text-content
            flex: 1
            position: relative

            .quote
              font-size: 40px
              color: #00cfff
              position: absolute
              top: -25px
              left: -18px

            .quote-close
              font-size: 40px
              color: #00cfff
              position: absolute
              bottom: -10px
              right: -10px

            h3
              font-size: 20px
              font-weight: 700
              margin-top: 10px

            .role
              font-size: 14px
              font-style: italic
              color: #00cfff
              margin-bottom: 10px

            .description
              font-size: 16px
              line-height: 1.5
